<mat-card>

    <h2 class="alinear">Listado de Productos</h2>
    <mat-card-header>
        <div>
            <mat-form-field hintLabel="Busque por productos" appearance="fill">
                <mat-label>Buscar Productos</mat-label>
                <input matInput #input>

            </mat-form-field>
        </div>

    </mat-card-header>

    <mat-card-header>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20">
                <li>
                    <button mat-raised-button color="primary" (click)="abrirProductoDialog()">Agregar Producto</button>
                </li>
            </ul>
        </div>
    </mat-card-header>

    <div mat-card-image></div>

    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-cell">

            <!--id columna-->
            <ng-container matColumnDef="idProducto">
                <th mat-header-cell *matHeaderCellDef> N°</th>
                <td mat-cell *matCellDef="let element">{{ element.idProducto }}</td>
            </ng-container>

            <!--nombre columna-->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
            </ng-container>

            <!--precio columna-->
            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let element">{{ element.precio }}</td>
            </ng-container>

            <!--cantidad columna-->
            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
            </ng-container>

            <!--categoria columna-->
            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef> Nombre categoria </th>
                <td mat-cell *matCellDef="let element">{{ element.categoria.nombre }}</td>
            </ng-container>

            <!--imagen columna-->
            <ng-container matColumnDef="imagen">
                <th mat-header-cell *matHeaderCellDef> Foto </th>
                <td mat-cell *matCellDef="let element"> <img [src]="element.imagen" width="50" height="50"></td>
            </ng-container>

            <!--acciones-->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element; let i=index;">

                    <button mat-icon-button color="accent">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>

                    <button mat-icon-button color="accent">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>

</mat-card>
